{% extends "base.html" %}

{% block content %}
{% load static %}


<div id="popupContainer" class="popup-container" style="display: none;">
    <div class="popup-content">
      <h2>Pop-up Window</h2>
      <p>This is a pop-up window content.</p>
      <button onclick="closePopup()">Close</button>
    </div>
  </div>
  
  



<script>
    // Open the pop-up window
    function openPopup() {
      document.getElementById("popupContainer").style.display = "flex";
    }
    
    // Close the pop-up window
    function closePopup() {
      document.getElementById("popupContainer").style.display = "none";
    }
  </script>

{% endblock %}